extends ../common/layout

block style_links
  link(rel='stylesheet', href='/stylesheets/doctor/appoint_details.css')

block scripts
  script(src="/javascripts/doctor/appoint_details.js")

block content
  div#appoint_details_container
    table.table.table-bordered.table-dark
      thead
        tr
          th(colspan="2") Appointment Details
      - const { clinicId, appointmentId, clinicName, isPast, userFullName, from, to, review, rating, status, description, createdAt, date  } = appointment;  
      tbody
        tr
          td Created At
          td #{createdAt}
        tr
          td Clinic
          td 
            a(href="/clinics/" + clinicId) #{clinicName}   
        tr
          td Patient
          td #{userFullName}
        tr
          td Date
          td #{date}    
        tr
          td Time
          td 
            span #{from} 
            strong to  
            span #{to} 
        tr
          td Details
          td 
            div.further_details #{description} 
        tr
          td Status
          td#status(class=status) #{status}  
    input#appointmentId(type="hidden", value=appointmentId)      
    div.controls
      button.btn.btn-danger.reject_btn Reject 
      button.btn.btn-primary.accept_btn Accept
      button.btn.btn-success.done_btn Done
