extends ../common/layout

block style_links
  link(rel='stylesheet', href='/stylesheets/doctor/settings.css')

block scripts
  script(src="/javascripts/doctor/settings.js")

block content
  div#settings_container
    if firstTimer
      h2.text_centered Welcome #{fullName}!
      h3.text_centered Set up your profile to get started!    
    else  
      h3.text_centered Profile Settings

    div.container
      div.qualifications_container
        h4 Add Qualifications
        include ../common/alert.pug
        form#form_qualification
          div.container_flex.items_centered
            //- this points to the datalist#colleges_list
            select#colleges_list.flex_3(name="qualification[]", class="form-control")
            select#degrees_list.flex_2(name="qualification[]", class="form-control")     
            select.flex_1(
                class="form-control"
                name="qualification[]") 
              - var year = 1960;
              option(value="-1", disabled) Select Year 
              while year < 2018
                -year++
                option(value=year) #{year}
            input(
                type="submit" 
                class="btn btn-primary" 
                value="Add")  
        div.qualifications_list
              
      //- all clinics go inside this container
      div.clinics_container
        h4 Add Clinics/Hospitals  
        include ../common/alert.pug
        //- add clinic form
        form#form_clinic      
          div.container_flex
            div.flex_1
              div.container_flex
                select#all_clinics_list.flex_3(name="clinic_name", class="form-control")
                select#roles_list.flex_3(name="clinic_role", class="form-control")
              
              h5 Add Timings  
              div.current_clinic_timings_list
              //- timings for each clinic
              div.container_flex.items_centered
                select#timing_day.flex_1(
                    class="form-control"
                    name="timing_day")
                  option(value="-1", disabled) Select Day  
                  each day in days
                    option(value=day) #{day}

                div.input-group.mb-3.flex_1
                  div.input-group-prepend
                    span.input-group-text From
                  input#timing_time_from(
                    type="time", 
                    name="timing_time_from"
                    class="form-control"
                    placeholder="From")  

                div.input-group.mb-3.flex_1
                  div.input-group-prepend
                    span.input-group-text To
                  input#timing_time_to(
                    type="time", 
                    name="timing_time_to"
                    class="form-control"
                    placeholder="To") 
                
                input(
                  type="button", 
                  onclick="addClinicTiming()"
                  value="Add"
                  class="btn btn-primary")   
              input(
                type="submit", 
                value="Add Clinic"
                class="btn btn-primary")     
              div.clinics_list
                
      div.profile_photo_container
        h4 Add your cute photo
        div
          div
            img(
              src="/images/doctor_placeholder.png",
              alt="doctor_photo")
          div.custom-file
            input#file-input.custom-file-input(type='file')
            label.custom-file-label(for='file-input') Select Image
          div
            input(
              type="button" 
              class="btn btn_upload_image btn-primary" 
              value="Upload")   
