extends ../common/layout

block style_links
  link(rel='stylesheet', href='/stylesheets/user/settings.css')

block scripts
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + process.env.GOOGLE_MAPS_API_KEY + "&libraries=places&callback=initMap")
  script(src="/javascripts/user/settings.js")
  
block content 
    h3 Set your profile!
    h4 Add location:
    div.container.add_map
      input(id="map_input" 
            type="text" 
            placeholder="Search...")
      div#map
      
    div#confirm.container
        include ../common/alert.pug
        div.alert.alert-success.hide(role='alert')
          //- giving some default message
          div.alert_message Location was updated successfully! 
        .row
          .col-sm-6 
            input(id="confirm_btn" 
                type="submit" 
                class="btn btn-primary" 
                value="Done" 
                onclick="Proceed()")
          .col-sm-6
            p#show_position 


