extends ../common/layout

block style_links
  link(rel='stylesheet', href='/stylesheets/user/signup.css')

block scripts
  script(src="/javascripts/signup.js")

block content
    -var typeF = type.slice(0, 1).toUpperCase() + type.slice(1)
    div#signup_container
        h2.text_centered Sign Up as a #{typeF}
        if error
          include ../common/alert
        form(action="/signup/" + type, method="post")
            div
                input(
                    type="text" 
                    class="form-control"
                    name="fname" 
                    value=fname
                    required
                    placeholder="First Name")
            div
                input(
                    type="text" 
                    class="form-control"
                    name="lname"
                    value=lname
                    required 
                    placeholder="Last Name")
            div
                input(
                    type="text" 
                    class="form-control"
                    name="username" 
                    value=username
                    required
                    placeholder="Username")
            div
                input(
                    type="password" 
                    class="form-control"
                    required
                    name="password" 
                    placeholder="Password")
            div
                input(
                    type="password" 
                    class="form-control"
                    name="cpassword" 
                    placeholder="Confirm Password")
            div.text_centered
                input(
                type="submit" 
                class="btn btn-primary"
                value="Sign Up")
        div.text_centered Old User? 
            a(href="/login/user")   Login
        div.text_centered Or
        div.text_centered Sign Up as a 
            a(href="/signup/doctor")  Doctor


                        