header 
  nav(class="navbar navbar-light bg-light")
    a(class="navbar-brand" href="/")
      img(
        src="/images/logo.png" 
        width="30"
        height="30"
        class="d-inline-block align-bottom"
        alt="") 
      span Doctor Rating System
    if user
      div.nav_links
        a(href="/history")
          span History
        a(href="/settings")
          span Settings
        a(href="/logout")
          span Logout 
      